body {
	background-color: #cee2e8;
}

card card-body{
	padding: 40px;
	background-color: #b5c7cc;
}
.portimg{
	font-size: 20px;
	padding-top: 10px;
	font-family: "DIN Alternate";
}
.bg1 {
	background-color: #b5c7cc;
	padding:40px;
}

.thumbnail {
	background-color:#90b0bd;
	padding-bottom:30px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	border: none;
	border-radius: 15px;
	font-size: 20px;
}
.thumbnail h2 {
	padding:10px;
	font-family: "DIN Alternate";
	font-size: 60px;
}
.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}